*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #020617;
    --text-color: #f0f0f0;
}

body {

    background-color: var(--background-color);
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
    background: linear-gradient(135deg, #020617, #7d0525, #020617, #020617);
    background-size: 300% 300%;
    animation: color 20s ease-in-out infinite;
}

@keyframes color {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("6204711.jpg");
    /* background-image: url("5192479.jpg"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 15%;
    /* Change this value as needed */
    z-index: -1;

}

/* *************nav bar********* */
nav {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    height: 4rem
}

nav a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 400;
    position: relative;

}

a:after {
    content: "";
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 0;
    height: 3px;
    left: 0;
    bottom: -10px;
    transition: 0.3s ease-in;
}

a:hover:after {
    width: 100%;
}

nav a img {
    width: 100px;
}

nav ul li {

    display: flex;
    align-items: center;
    padding: 0px 1rem;

}



nav li:first-child {
    margin-right: auto;
}



.sidebar {
    position: fixed;
    right: 0;
    top: 0;
    width: 250px;
    height: 100vh;
    z-index: 999;
    background-color: var(--text-color);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);

}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.profilepic {
    width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;



}

.profilepic img {
    width: 550px;
    height: auto;
    object-fit: contain;
    display: block;
    margin: auto;

}

.PPB2 {
    justify-content: center;
    align-items: center;
}



.name {

    align-items: center;
    color: var(--text-color);
    text-align: center;
    overflow: hidden;

}

.name h6 {
    font-size: 20px;
}

.name button {
    width: 300px;
    height: 40px;
    margin: 10px;
    color: #020617;
    cursor: pointer;
    font-family: system-ui;
    width: 400;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
}

.name button:hover {
    color: var(--text-color);
    background-color: rgb(255, 30, 49);


}

.socialmedia {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;


}

.socialmedia img {
    width: 60px;
    margin: 10px 20px;

}

.socialmedia img:hover {
    /* color: var(--background-color);
    background-color: var(--text-color); */
    transform: translate(0, -10%);
    transition: 0.25s;



}

.findmetext {
    color: var(--text-color);
    text-align: center;
    margin-top: 20px;
}



/************************Projects*********************/




.projects h1 {
    color: var(--text-color);
    text-align: center;
    margin-top: 50px;
    font-size: 3rem;
}

.projects-items {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    gap: 5px;
    margin-top: 2rem;

}

.projects-items img {
    width: 425px;
    height: auto;
    display: block;

}

.projects-items .box {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;



}